<div class="card">
  <div class="card-body">
    <h5 class="card-title">Add Stock</h5>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="form form-inline">
      <div class="form-group">
        <label for="symbol" class="col-xs-4 form-label">
          Symbol:
        </label>
        <select required class="form-control" name="symbol" id="symbol" formControlName="symbol">
          <option *ngFor="let item of Stocks;" [value]="item.Symbol">
            {{item.Symbol}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="contracts" class="col-xs-4 form-label">
          Contracts:
        </label>
        <input id="contracts" class="form-control" type="text" formControlName="contracts">
      </div>

      <div class="form-group">
        <label for="buyPrice" class="col-xs-4 form-label">
          Buy Price:
        </label>
        <input id="buyPrice" class="form-control" type="text" formControlName="buyPrice">
      </div>
      <br>
      <button class="btn btn-success" type="submit">Execute</button>
    </form>
  </div>
</div>
